
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	}

/*
color codes: 
blue: EFEDEC, BFF7FF, E4FCFF, AAE9FF, AAE1FF
red:FFC4C4, FF9A9A, FFD3D3, FF9CA6, FEE1E4
green: E1FEF3, E5FEED,D6FFEC, A7BCB2
*/

body{
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	background-color: #eee;
	}



.container{
	width:100%;
	max-width:960px;
	margin: 0 auto;
	height:90px;
	clear: both;
	}



#main-header{
	background-color: #ffffff;
	margin: 0 0 30px;
	color:#fff;
	border-bottom: 2px solid #ccc;
	border-color: #cccccc;
	width:100%;
	}



#logo{

	width: 250px;
	height:70px;
	background: #4aaaa5;
	float:left;
	font-family: Georgia;
	text-align: center;
	line-height: 60px;
	font-size:150%;
	font-weight: bold;
	text-decoration: none;
	color:White;
	padding:5px;
	margin-top:10px;
	border-radius:10px;
	}


nav{
	padding:30px;
	background: #ffffff;
	float:right;
	font-size: 18px;
	padding:auto;
	}



a{
	color:#777;
	text-decoration: none;
	/*display:inline-block;
	border-left:2px solid #ccc;*/
	padding-left:15px;
	}




#main-container{
	width:960px;
	height:100%;
	margin:0 auto;
	
	}
	


#left-bar{
	width: 650px;
	margin: auto;
	float:left;
	background-color:#fff;
	border-radius: 10px;
	border:2px
	border-color:#bbb;
	}


h2{
	
	color:#4aaaa5;
	font-size: 130%;
	font-family:georgia;
	font-weight: bold;
	border-bottom:2px solid #ccc;
	margin:25px;
	padding-left:30px;
	padding-bottom:5px;
	padding-top:10px;
}





.photo{
	padding-left:20px;
	padding-right:10px;
	padding-bottom:20px;
	float:left;
	}




.connect{
	margin:20px;
	padding-top:5px;
	}



#connect-me{
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
	color:#4aaaa5;
	font-family:georgia;
	font-size:120%;
	border-bottom:2px solid #ccc;
	margin-top:15px;
	margin-left:10px;
	width: 250px;
	padding-bottom:5px;
	}



.paragraph{ 
padding-right:20px;
padding-left:10px;
padding-bottom:O auto;
line-height: 25px;
font-color:#ccc;
}
 


 .article{
 	color:#777;
 	}
 


 #right-bar{
	width: 290px;
	margin: auto;
	float:right;
	background-color:#fff;
	height:200px;
	border-radius: 10px;
	border: 2px, #ccc;
	}




footer{
	width:100%;
	margin:0;
	height:90px;
	clear: both;
	background-color: #666;
	border:2px solid black;
	position:fixed;
	bottom:0;
	text-align: center;
	padding-top:30px;
	font-size:90%;
	color:#ddd;

	}




























